body {
    font-family: 'Fuzzy Bubbles', cursive;
    margin: 0;
    padding: 0;
}
.container {
    width: 1110px;
    margin: 0 auto;
}
p {
    margin: 0;
    padding: 0;
}
a{
    display: block;
    margin: 0;
    text-decoration: none;
}
li{
    margin: 0;
    padding: 0;
}
ul{
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
}
h1,h2,h3{
    margin: 0;
    font-family: 'Fuzzy Bubbles', cursive;
}



/*Video*/
.big-title{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color: #fff;
}
.new-title{
    color: #fff;

}
.video-block{
    border-radius: 30px;
    display: block;
    margin: 50px auto 0;
    width: 100%;
    height: 600px;
    border: 2px solid #F24E1E;
}
.video-wrapper{
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
}
.new-title{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin: 20px 0;
}
.video-friends{
    border-radius: 30px;
    display: block;
    margin: 50px auto 0;
    width: 300px;
    height: 300px;
    border: 2px solid #F24E1E;
    display: none;
}
.active-video{
    display: block;
}
.btn-wrapper{
    display: flex;
    justify-content: space-between;
}
.btn{
    cursor: pointer;
    border: none;
    outline: none;
    background: #9747FF;
    border-radius: 100px;
    padding: 20px;
    align-items: center;
    color: #fff;
    font-size: 18px;
    font-family: 'Fuzzy Bubbles', cursive;
    margin-right: 15px;
    transition: background 0.5s linear;
}
.btn:hover{
   background: #2582d4;
}
.btn:last-of-type{
    margin-right: 0;
}
.block{
    display: block;
}
.none{
    display: none;
}