body {
    font-family: 'Fuzzy Bubbles', cursive;
    margin: 0;
    padding: 0;
    background: #272525;
}
.container {
    max-width: 1110px;
    margin: 0 auto;
    padding: 15px;
}
p {
    margin: 0;
    padding: 0;
}
a{
    display: block;
    margin: 0;
    text-decoration: none;
}
li{
    margin: 0;
    padding: 0;
}
ul{
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
}
h1,h2,h3{
    margin: 0;
}


.header{
    padding: 30px 0 70px;
    font-weight: 700;
    font-size: 20px;
    width: 100%;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-block{
    list-style: none;
    display: flex;
    align-items: center;
}
.nav-block__item{
    margin-right: 173px;
    color: #F24E1E;
    border-radius: 3px;
    transition: background 0.5s linear;
}
.nav-block__item.active{
    border-bottom: 3px solid #fff;
}
.nav-block__item:last-of-type{
    border-radius: 0;
}
.nav-block__item:last-of-type{
    margin-right: 0;
}
.nav-block__item:hover{
    color: #2582d4;
}
.logo {
    background: url(../img/logo.svg) no-repeat center;
    width: 250px;
    height: 60px;
}
.nav-profile{
    border-radius: 100px;
    border: 1px solid #F24E1E;
    width: 100px;
    height: 100px;
    display: block;
    background: url(../img/ava.png) center ;
    background-size: cover;
    transition: opacity 0.5s linear;
}
.nav-profile:hover{
   opacity: 0.5;
}
/*Offer*/
.offer-wrapper{
    display: grid;
    gap: 50px;
    margin-top: 100px;
    grid-template-columns: 1fr 1fr;
}
.offer-photo{
    background: url(../img/cake.png) center center no-repeat;
    border-radius: 30px;
    display: block;
    width: auto;
    height: auto;
}
.offer__title{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}
.offer__text{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 25px;
}
.offer__text:last-of-type{
    margin-bottom: 0;
}
.offer{
    width: 100%;
    background-color: #D3CFA6;
    border-radius: 30px;
    padding: 30px 30px 30px 30px;
}
.future{
    padding-bottom: 70px;
}
.last-title{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
    color: #F24E1E;
}
.arrow-down{
    width: 74px;
    height: 103px;
    color: #000;
    margin: 0 auto;
    display: block;
    margin-bottom: 10px;
    background: none;
}
.btn{
    padding: 20px;
    background: #F24E1E;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    width: 163px;
    border-radius: 100px;
    margin: 0 auto;
    transition: background 0.5s linear;
}
.btn:hover{
    background: #C178A0;
}

/*Mobile*/

/* Large: 992px - 1199px */
@media (max-width: 1199px) {
	.container {
		max-width: 960px;
	}
	

}

/* Medium: 768px - 991px */
@media (max-width: 991px) {
	.container {
		max-width: 720px;
	}
    .nav-block__item{
        margin-right: unset;
    }
    .nav-block{
        gap: 40px;
    }
    .btn{
        font-size: 12px;
        width: max-content;
        padding: 10px;
    }
    .new-title{
        font-size: 20px;
    }
    .offer-photo{
        width: 100%;
        height: 600px;
        background: url(../img/cake.png) center no-repeat;
    }
    .future .btn{
        margin: 0 auto;
    }
    .offer-wrapper{
        margin-top: 40px;
        grid-template-columns: 1fr;
    }
}

/* Small: 576px - 767px */
@media (max-width: 767px) {
	.container {
		max-width: 540px;
	}
    .logo{
        background: url(../img/logo-mobile.svg) no-repeat center;
        width: 100px;
        height: 30px;
    }
    .video-block{
        height: 450px;
    }
    .btn-wrapper{
        flex-wrap: wrap;
        gap: 15px;
        justify-content: space-around;
    }
    .btn{
        margin: unset;
    }
}

/* Extra small: 320px - 575px */
@media (max-width: 575px) {
	.container {
		padding: 0 15px;
		width: auto;
	}
    .nav-block__item{
        font-size: 14px;
        gap: 20px;
    }
    .nav{
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
        flex-direction: column;
    }
    .nav-block{
        flex-direction: column;
        gap: 10px;
    }
    .header{
        padding: 30px 0 30px;
    }
}